html, body {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
}

.win {
  margin: 10px 5px;
  border: 1px blue solid;
}
.win-head {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}
.win-body {
  padding: 5px 15px;
}

.form-row {
  display: flex;
}
.form-variable {
  flex: 1 1 30%;
  padding: 5px;
  text-align: right;
}
.form-value {
  flex: 1 1 70%;
  padding: 5px;
}
form input {
  width: 100%;
}
form textarea {
  width: 100%;
  height: 150px;
}

.row {
  display: flex;
}
.row > div {
  flex: 1 1 50%;
}
